@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
body {
    background-color: rgb(28, 28, 28);
    font-family: "Pretendard Variable", sans-serif;
    height: 100vh;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
h3 {
    font-size: 50px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 100px);
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}