#detail {
    position: absolute;
    top: calc(50% - 45vh);
    left: calc(50% - 40vw);
    width: 80vw;
    height: 100vh;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
}
#detail img {
    width: 100%;
    height: 100%;
}
#contents {
    box-sizing: border-box;
    background: linear-gradient(transparent, black 60%);
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 30px;
    width: 100%;
    /* border: 1px solid blue; */
}
#header {
    margin-top: 40vh;
    display: flex;
    align-items: end;
}
#header h1 {
    margin-bottom: 0;
}
#header span {
    margin-bottom: 5px;
}
#header span {
    margin-left: 10px;
}
ul {
    display: flex;
    margin-left: 0;
    padding-left: 0;
    /* border: 1px solid red; */
}
li {
    margin-right: 25px;
}
li:first-child {
    list-style: none;
}
#runtime {
    margin-left: 10px;
}